go 1.25.7

use (
	./cmd/configctl
	./cmd/derive
	./cmd/execute
	./cmd/gateway
	./cmd/ingest
	./cmd/migrate
	./cmd/store
	./cmd/writer
	./codegen
	./internal/actors
	./internal/adapters/clickhouse
	./internal/adapters/exchanges
	./internal/adapters/nats
	./internal/application
	./internal/domain
	./internal/interfaces/http
	./internal/shared
)
